@model StockExchangeSimulator.ViewModels.UserInfoViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.UserName</h2>
<h2>Баланс на счету: @Model.TotalMoneySum руб.</h2>

<form asp-action="TopUpBalance" asp-controller="UserProfile">
    <input type="text" asp-for="AddedSum" />
    <input type="submit" value="Пополнить кошелек" />
</form>

<h3>Список акций, которые вы держите в настоящий момент</h3>
<table class="StockList">
    <tr>
        <td>Компания</td>
        <td>Краткое название</td>
        <td>Число приобретенных акций</td>
        <td>Рост акции с момента покупки (руб)</td>
        <td>Рост акции с момента покупки (%)</td>
        <td>Продать акции</td>
    </tr>
    @foreach(var p in Model.PurchasedStocks)
    {
        <tr>
            <td>@p.CompanyFullName</td>
            <td>@p.CompanyShortName</td>
            <td>@p.PurchasedStockNumber</td>
            <td>@p.StockGrowth</td>
            <td>@p.StockGrowthInPercent</td>
            <td>
                <form asp-action="SellOutStock" asp-controller="UserProfile" asp-route-id="@p.StockId">
                    <input type="submit" value="продать" />
                    <input type="number" min="1" max="@p.PurchasedStockNumber" asp-for="StockNumberForSale"/>
                </form>
            </td>
        </tr>
    }
</table>
